<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webwin App Generator</title>
</head>
<body>
    <h1>Webwin App Generator</h1>
    <form>
        <ol>
            <li>
    Title:
    <input type="text" id="title" maxlength="64" minlength="2" required>
</li>
<li>
    Icon URL:
    <input type="text" id="iconurl" maxlength="120" minlength="8" required>
</li>
<li>
    Window Options:
    <div class="window-options" style="padding:-10px;border:2px inset #666; width:fit-content;background-color:#ddd;">
        <pre>
   Resize..: <input type="checkbox" checked id="resize">  
   Minimize: <input type="checkbox" checked id="min">   
   Maximize: <input type="checkbox" checked id="max">   
</pre>
    </div>
</li>
<li>
    <p>Code to run:</p>
    <textarea id="code"></textarea>
</li>
</ol>
<input type="submit" style="font-size:16px; border-style:outset;">
</form>
</body>
</html>