<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../app.css" />
    <link rel="stylesheet" href="../../modules/webfont.css" />
    <style>
      * {
        font-family: "Segoe UI", sans-serif;
        color-scheme: dark;
      }
      html,
      body {
        background-color: #0f0f0f;
      }
      a {
        display: flex;
      }
    </style>
  </head>
  <body>
    <br />
    <container>
      <h1 class="text-center text-2xl font-light">Webwin Settings</h1>
      <br />
      <div class="flex justify-center">
        <input
          type="text"
          placeholder="Find a setting"
          maxlength="64"
          class="flex justify-center px-3 py-2 h-8 text-sm bg-white w-80 text-black border- hover:ring-2 hover:ring-[#0078D7]"
        />
      </div>
      <br />
      <div class="mx-8 !min-h-[300px] !h-full">
        <button
          onclick="document.location = 'settings_pages/personalization.html'"
          class="settingsItem mr-4 text-left w-[250px] h-[85px] hover:bg-[#202020] duration-200 border border-transparent hover:border-[#2F2F2F]"
        >
          <div class="c">
            <div class="flex flex-row px-3 align-top items-start">
              <img
                src="../icons/settings/personalization.png"
                loading="lazy"
                class="mr-5"
              />
              <div class="flex flex-col">
                <h class="text-[16px]">Personalization</h>
                <p class="text-[#A4A4A4] text-[12.5px]">
                  Background, lock screen, colors
                </p>
              </div>
            </div>
          </div>
        </button>
        <button
          onclick="document.location = 'settings_pages/privacy.html'"
          class="settingsItem mr-4 text-left w-[250px] h-[85px] hover:bg-[#202020] duration-200 border border-transparent hover:border-[#2F2F2F]"
        >
          <div class="c">
            <div class="flex flex-row px-3 align-top items-start">
              <img
                src="../icons/settings/privacy.png"
                loading="lazy"
                class="mr-5"
              />
              <div class="flex flex-col">
                <h class="text-[16px]">Privacy</h>
                <p class="text-[#A4A4A4] text-[12.5px]">
                  Cloaking, emergency, tracking
                </p>
              </div>
            </div>
          </div>
        </button>
      </div>
    </container>
  </body>
</html>
