<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../app.css">
    <style>
        * {font-family: "Segoe UI", sans-serif;color-scheme:dark light;}
    </style>
</head>
<body>
    <br>
    <container>
    <h1 class="text-center text-2xl font-light">Webwin Settings</h1>
    <br>
    <div class="flex justify-center">
        <input type="text" placeholder="Find a setting" maxlength="64" class="flex justify-center px-3 py-2 h-8 text-sm bg-white w-80 text-black border- hover:border-2 hover:border-[#0078D7]">
    </div>
    
</container>
</body>
</html>