<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../app.css" />
    <link rel="stylesheet" href="../../modules/webfont.css" />
    <style>
      * {
        font-family: "Segoe UI", "SegoeUI", sans-serif;
        color-scheme: dark;
      }
      html,
      body {
        background-color: #000 !important;
        width: 100%;
        height: 100%;
        margin: 0;
      }
    </style>
  </head>
  <body class="w-full h-full flex flex-row items-center m-0 desktop">
    <sidebar class="flex flex-col bg-[#1f1f1f] min-w-[300px] h-screen flex-1">
      <a href="../settings.html" class="settingsBtn">
        <img src="../../icons/settings/home.png" class="mx-2 p-1" />
        <span>Home</span>
      </a>

      <input
        type="text"
        placeholder="Find a setting"
        maxlength="64"
        class="flex justify-center px-3 py-1.5 h-8 text-sm bg-white w-[90%] mx-auto text-black hover:ring-2 hover:ring-[#0078D7]"
      />
      <br />
      <b class="ml-4 mt-4 text-sm font-semibold">Personalization</b>
      <span class="ml-4 mt-4 mb-4 text-sm opacity-75"
        >Personalization settings</span
      >
      <a href="#wallpaper" id="wallpaper" class="settingsBtn">
        <img class="mx-2 mr-3 p-1" /> <span>Background</span>
      </a>
    </sidebar>
    <container class="m-2 ml-4">
      <br />
      <section id="wallpaper" class="flex flex-col hidden">
        <h1 class="text-3xl font-light mb-2">Background</h1>
        <br />
        <br>
        <img class="previewImg w-[290px] h-[180px]" src="/img/img0_1903.jpg">
        <br>
        <span>Choose your picture</span>
        <div class="bgImgContainer flex flex-row">
        <div onclick="bgclick(this)" class="bgImgSelect w-[70px] h-[70px] ring-2  ring-transparent hover:ring-gray-500/60 duration-300" style="background-image:url(/img/img0.jpg);background-size:cover;background-position: center;"></div>
        <div onclick="bgclick(this)" class="bgImgSelect w-[70px] h-[70px] ring-2 ml-1 ring-transparent hover:ring-gray-500/60 duration-300" style="background-image:url(/img/img0_1903.jpg);background-size:cover;background-position: center;"></div>
        <div onclick="bgclick(this)" class="bgImgSelect w-[70px] h-[70px] ring-2 ml-1 ring-transparent hover:ring-gray-500/60 duration-300" style="background-image:url(/img/img1.jpg);background-size:cover;background-position: center;"></div>
        <div onclick="bgclick(this)" class="bgImgSelect w-[70px] h-[70px] ring-2 ml-1 ring-transparent hover:ring-gray-500/60 duration-300" style="background-image:url(/img/img2.jpg);background-size:cover;background-position: center;"></div>
        <div  onclick="bgclick(this)" class="bgImgSelect w-[70px] h-[70px] ring-2 ml-1 ring-transparent hover:ring-gray-500/60 duration-300" style="background-image:url(/img/img100.jpg);background-size:cover;background-position: center;"></div>
      </div>
      <button disabled class="w-fit text-[13px] px-[18px] py-[2px] bg-[#E1E1E1] text-black border border-[#ADADAD] hover:border-[#0078D7] hover:bg-[#E5F1FB] active:border-[#005499] active:bg-[#CCE4F7] disabled:text-gray-900 disabled:bg-gray-500">Browse</button>
      </section>
    </container>
    <script>
      function bgclick(ele) {
        let globconf = JSON.parse(localStorage["wwglob_config"])
            globconf.wallpaper = ele.style.backgroundImage.replace("url(","").replace(")","").replaceAll('\\"',"")
            localStorage["wwglob_config"] = JSON.stringify(globconf)
            document.querySelector(".previewImg").src = ele.style.backgroundImage.replace("url(","").replace(")","").replaceAll('"',"")
            console.log(ele.style.backgroundImage.replace("url(","").replace(")","").replaceAll('\\"',""))
      }
       document.querySelector(".previewImg").src = JSON.parse(localStorage["wwglob_config"]).wallpaper.replace("url(","").replace(")","").replaceAll('"',"")
      function sections(e) {
        if (window.location.hash.substr(1) == "") {
          document.location.hash = "#tabcloak";
        }

        function hideAllSections() {
          var sections = document.querySelectorAll("section");
          sections.forEach(function (section) {
            section.classList.add("hidden");
          });
          var btns = document.querySelectorAll(".settingsBtn");
          btns.forEach(function (btn) {
            btn.classList.remove("active");
          });
        }
        function showSection(sectionId) {
          var section = document.querySelector(`section#${sectionId}`);
          if (section) {
            section.classList.remove("hidden");
            var btn = document.querySelector(`a#${sectionId}`);
            btn.classList.add("active");
          }
        }

        hideAllSections();
        var hash = window.location.hash.substring(1); // remove the '#' from the hash
        if (hash) {
          showSection(hash);
        }
      }

      setInterval(() => {
        sections();
      }, 200);
    </script>
  </body>
</html>
