<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../app.css" />
    <style>
      * {
        font-family: "Segoe UI", sans-serif;
        color-scheme: dark;
        
      }
      html,body {background-color:#0F0F0F;  }
    </style>
  </head>
  <body class="overflow-auto">
        
      <sidebar class="flex flex-col bg-[#1f1f1f] w-[300px] h-screen">
        <a href="../settings.html" class="settingsBtn">
          <img src="../../icons/settings/home.png" class="mx-2 p-1"> <span>Home</span>
        </a>
        
        <input
          type="text"
          placeholder="Find a setting"
          maxlength="64"
          class="flex justify-center px-3 py-1.5 h-8 text-sm bg-white w-[90%] mx-auto text-black hover:ring-2 hover:ring-[#0078D7]"
        />
        <br>
        <b class="ml-4 mt-4 text-sm font-semibold">Privacy</b>
        <span class="ml-4 mt-4 mb-4 text-sm opacity-75">Privacy settings</span>
        <a href="#tabcloak" id="tabcloak" class="settingsBtn">
          <img src="../../icons/settings/lock.png" class="mx-2 mr-3 p-1"> <span>Tab cloaking</span>
        </a>
        <a href="#emerg" id="emerg" class="settingsBtn">
          <img src="../../icons/settings/lock.png" class="mx-2 mr-3 p-1"> <span>Emergency Key</span>
        </a>
        <a href="#tracking" id="tracking" class="settingsBtn">
          <img src="../../icons/settings/lock.png" class="mx-2 mr-3 p-1"> <span>Tracking</span>
        </a>
      </sidebar>
    <script>
     setInterval(()=>{
      var settingsBtns = document.querySelectorAll('.settingsBtn');

settingsBtns.forEach(function(btn) {
    var btnId = btn.id;
    var hash = window.location.hash.substring(1); // remove the '#' from the hash

    if (btnId === hash) {
        btn.classList.add('active');
    } else {

      btn.classList.remove('active');
       
    }
});
     },100)
   

    </script>
  </body>
</html>
