<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../app.css" />
    <style>
      * {
        font-family: "Segoe UI", sans-serif;
        color-scheme: dark;
        
      }
      html,body {background-color:#0F0F0F;  }
    </style>
  </head>
  <body class="overflow-auto">
        
      <sidebar class="flex flex-col bg-[#1f1f1f] w-[275px] h-screen">
        <a href="../settings.html" class="py-3 hover:bg-[#303030] hover:duration-150 duration-200 px-2 w-full">
          Home
        </a>
      </sidebar>
    
  </body>
</html>
